# Exclude all files ending in .log anywhere in the repository
*.log

# virtual environment
.env
venv/

# compiled python files
__pycache__/

# data folder 
data/
*.mat

# Jupyter Notebook checkpoints
.ipynb_checkpoints/